<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
    <div class = 'container'>
        <br>
        <br>
        <div class = 'd-flex justify-content-center'>
            <H1>Features</H1>
        </div>
        <br>
        <br>        

        <div class = 'row'>
            <div>
                <p> <b>Things you can do using this Financial Markets Dashboard</b></p>
            </div>
        </div>

        <div class = 'row'>
            <ul>
                <li>Get an overview of the markets leading Index ETF performance
                    <ul>
                        <li>S&P500: SPY</li>
                        <li>NASDAQ: QQQ</li>
                        <li>DOW: DIA</li>
                    </ul>
                </li>
                <br>
                <li>User the Search Bar to search company information quickly and easily.
                    <ul>
                        <li>Get detailed company information</li>
                        <li>Get company financials and see the latest company news so you can make better investment decisions</li>
                    </ul>
                </li>
                <br>
                <li>Use the <a href="/help.html" rel="noopener noreferrer" target="_blank">Help</a> tab to get more in depth information on how to interpret the data to give you an extra layer of knowledge when analyzing a company for your portfolio.</li>
            </ul>
        </div>
            
    </div>
    <!-- Optional JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
