<html>
    <div class = 'container'>
        <div class = 'row'>
            <H1>Help Page</H1>
        </div>
        <br>
        <br>

        <div class = 'row'>
            <div>
                <p> A list of helpful tips</p>
            </div>
        </div>

        <div class = 'row'>
            <ul>
                <li>Tip 1
                    <ul>
                        <li>information</li>
                        <li>information</li>
                        <li>information</li>
                    </ul>
                </li>
                <br>
                <li>Tip 2</li>
                <br>
                <li>Information</li>
            </ul>
        </div>
            
    </div>
</html>