<html>
    <div class = 'container'>
        <div class = 'row'>
            <H1>Features Page</H1>
        </div>
        

        <div class = 'row'>
            <div>
                <p> Things you can do using this Stock Dashboard</p>
            </div>
        </div>

        <div class = 'row'>
            <ul>
                <li>Get an overview of the markets leading Index ETF performance
                    <ul>
                        <li>S&P500: SPY</li>
                        <li>NASDAQ: QQQ</li>
                        <li>DOW: DIA</li>
                    </ul>
                </li>
                <br>
                <li>User the Search Bar to search company tickers and stock information</li>
                <br>
                <li>User the Help tab to get more in depth information on how to interpret the data</li>
            </ul>
        </div>
            
    </div>
</html>