<!DOCTYPE html>
<html>
    <head>
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 

    </head>
    <body>
    <div class = 'container'>
        <div class = 'row'>
            <H1>Help Page</H1>
        </div>
        <br>
        <br>

        <div class ='row'>
            <h2> Navigation</h2>
        </div>
        <div class = 'row'>
            <div class = 'col'>
                <ul>
                    <li><p>Click on the Financial Markets Dashboard section in the top navigation bar to get taken back to the main home Dashboard.</p></li>
                    <li><p>Click on the Features tab in the top navigation bar to see all the features that this website provides.</p></li>
                    <li><p>In the search box, enter a company stock symbol, or if you don't know any, select one from a pre-selected list on the main Dashboard.</p></li>
                </ul>
            </div>
        </div>
        <br>
        <div class = 'row'>
            <div>
                <h2>Definitions</h2>
                <p>A list of line item definitions. Links will take you to <a href="https://www.investopedia.com/" rel="noopener noreferrer" target="_blank">Investopedia</a> where you can learn about line items in depth.
                </p>
            </div>
        </div>
        
        <div class = 'row'>
            <h3>Income Statement</h3>
        </div>

        <div class = 'row'>
            <a href="https://www.investopedia.com/terms/c/continuingoperations.asp" rel="noopener noreferrer" target="_blank">Income From Continuing Operations</a>
        </div>
        <div class = 'row'>
            <a href="https://www.investopedia.com/terms/n/non-operating-income.asp" rel="noopener noreferrer" target="_blank">Non-Operating Income</a>
        </div>
        <div class = 'row'>
            <a href="https://www.investopedia.com/terms/d/dilutedeps.asp" rel="noopener noreferrer" target="_blank">Diluted Earnings Per Share</a>
        </div>
        <div class = 'row'>
            <a href="https://www.investopedia.com/terms/n/netincome.asp" rel="noopener noreferrer" target="_blank">Net Income</a>
        </div>
        <div class = 'row'>
            <a href="https://www.investopedia.com/terms/g/grossprofit.asp" rel="noopener noreferrer" target="_blank">Gross Profit</a>
        </div>
        <div class = 'row'>
            <a href="https://www.investopedia.com/terms/o/operatingincome.asp" rel="noopener noreferrer" target="_blank">Operating Income</a>
        </div>
        <div class = 'row'>
            <a href="https://www.investopedia.com/terms/r/revenue.asp" rel="noopener noreferrer" target="_blank">Revenues</a>
        </div>
        <div class = 'row'>
            <a href="https://www.investopedia.com/terms/c/cost-of-revenue.asp" rel="noopener noreferrer" target="_blank">Cost Of Revenues</a>
        </div>

        <br>
        <div class = 'row'>
            <h3>Balance Sheet</h3>
        </div>

        <div class = 'row'>
            <a href="https://www.investopedia.com/terms/f/fixedasset.asp" rel="noopener noreferrer" target="_blank">Fixed Assets</a>
        </div>
        <div class = 'row'>
            <a href="https://www.investopedia.com/terms/c/currentliabilities.asp" rel="noopener noreferrer" target="_blank">Current Liabilities</a>
        </div>
        <div class = 'row'>
            <a href="https://www.investopedia.com/terms/n/nibcl.asp" rel="noopener noreferrer" target="_blank">Non-Current Liabilities</a>
        </div>
        <div class = 'row'>
            <a href="https://www.investopedia.com/terms/o/operatingincome.asp" rel="noopener noreferrer" target="_blank">Operating Income</a>
        </div>
        <div class = 'row'>
            <a href="https://www.investopedia.com/terms/c/currentassets.asp" rel="noopener noreferrer" target="_blank">Current Assets</a>
        </div>
        <div class = 'row'>
            <a href="https://www.investopedia.com/terms/n/noncurrent-assets.asp" rel="noopener noreferrer" target="_blank">Non-Current Assets</a>
        </div>
            
    </div>

    <!-- Optional JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>