<html>
    <p>Main HBS Page</p>

    {{#each dashDisplay}}
        {{#each this}}                       <!--drills one layer deeper into json dict-->
            {{@key}}:{{this}}               <!--iterate through each key (@key) value(this) pair, can also use @index-->
        {{/each}}   
    {{/each}}
</html>

