<html>
    <p>Main HBS Page</p>

    <p>{{dashDisplay}}</p>
    {{#each dashDisplay}}
        {{@key}}:{{this}}           <!--iterate through each key (@key) value(this) pair, can also use @index-->
    {{/each}}
</html>

