<html>
    <div class = 'container'>
        
        <div class = 'row'>
            <h3>
                {{companyName}} News Articles (News Microservice)
            </h3>
        </div>
        <br>

        <div class = 'row'> 
            
            <ul>
                {{#each newsDisplay}}
                <li>
                    <a href={{this}}>{{@key}}</a> 
                </li>
                {{/each}}
            </ul>
            
            <br>
        </div>

        <br>

        <div class = 'row'>
            <p>DISCLAIMER</p>
        </div>
        <div class = 'row'>
            <p>Clicking on a generated news link will take you to an external site.</p>
        </div>
        <div class = 'row'>
            <p>The accuracy and validity of these articles can not be verified by The Financial Markets Dashboard.</p>
        </div>
        <div class = 'row'>
            <p>The views and opinions of external sites do not reflect the views and opinions of The Financial Markets Dashboard.</p>
        </div>
        <div class = 'row'>
            <p>The safety and security of these external sites can not be guaranteed by The Financial Markets Dashboard.</p>
        </div>
        <br>
        
    </div>
</html>    
    