<html>
    <p>Search Results HBS Page</p>

    <div id = 'searchResponse'>
        {{#each resultDisplay}}
            {{#each this}}                      
                {{@key}}: {{this}}                 
                <br>               
            {{/each}}   
        {{/each}}
    </div>





</html>
